<header class="header">
  <div class="container">
    <nav class="navigation">
      <ul class="navigation__list navigation__list-js">
        <li class="navigation__item">
          <a class="navigation__link" href="./index.html">Product</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="./cartPage.html">
            <svg class="svg__icon">
              <use href="./images/sprite/sprite.svg#icon-basket"></use></svg
          ></a>
          <span class="navigation__count">0</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
